<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/exercises.js"></script>
    <script src="https://unpkg.com/fretboards/dist/fretboard.js"></script>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    
    
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <h1 class="title">Guitar Exercises</h1>
        
        <form id="practice">
            <fieldset>
              <legend>What scales are you practicing?</legend>

              <div>
                {{#scales}}
                <input type="checkbox" id="scale_{{name}}" name="scale_{{name}}" {{#default}}checked{{/default}}>
                <label for="scales">{{label}}</label>
                {{/scales}}
              </div>
            </fieldset>
            <fieldset>
              <legend>What exercises are you practicing?</legend>

              <div>
                {{#exercises}}
                <input type="checkbox" id="exercise_{{name}}" name="exercise_{{name}}" {{#default}}checked{{/default}}>
                <label for="exercises">{{label}}</label>
                {{/exercises}}
              </div>
            </fieldset>
            <fieldset>
              <legend>Other options</legend>
              <div>
                <input type="checkbox" id="leftHanded" name="leftHanded">
                <label for="leftHanded">Left handed</label>
              </div>
            </fieldset>

          <button type="button" id="nextExercise" onclick="loadNextExercise()">Next</button>
        </form>
        <hr/>
        <div>
          <h1><a id="tone"></a> <a id="scale"></a> <a id="exercise"></a></h1>   
          <span><i><small id="description"></small></i></span>       
          <h2><a id="notes"></a></h2>
          <div class="fb-container" data-frets="17" data-notes="c major" data-showTitle="true"></div>
        </div>
        <hr/>
    </div>

    <script>
      $('document').ready(loadNextExercise())
    </script>
  </body>
</html>
